/* p{color: blue;background-color: gray;} */

.btn {
    border-radius: 20px;
}

#redP {
    color: red;
}

footer{
    position: absolute;
    bottom: 0;
}

#hero{
    background-image: url(/myApp/img/hero.jpg);
}

