<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>

  </style>
</head>
<body>
<div class="container-fluid bg-dark p-5 text-center" id="hero">
  <div class="container">
    <h1 class="text-warning display-3 my-5">
      <strong>Imagine a place...</strong>
    </h1>
    <p class="text-light display-6">
      <strong
        >...where you can find your career and your career can find you. A place
        that makes it easy to make a next big step in your life.</strong
      >
    </p>
    <a class="btn btn-lg btn-warning m-4" href="#">Learn more...</a>
  </div>
</div>

<div class="container-fluid">
  <div class="row bg-light p-5 text-center" id="withus">
    <div class="col-sm">
      <h1>
        <img
          class="img-fluid img-responsive p-5"
          src="myApp/img/p10.svg"
          alt=""
        />
      </h1>
    </div>
    <div class="col-sm d-flex flex-column justify-content-center p-5">
      <h1 class="text-success text-center font-weight-bold">
        <strong>With us...</strong>
      </h1>
      <p class="display-6 text-success text-center">
        <strong
          >...you will be able to start being exactly what you want, and be proud of you!</strong
        >
      </p>
    </div>
  </div>
  <div class="row p-5">
    <div class="col-sm d-flex flex-column justify-content-center">
      <h1 class="text-success text-center font-weight-bold">
        <strong>Title</strong>
      </h1>
      <p class="display-6 text-success text-center p-5">
        <strong
          >Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia soluta
          accusantium culpa dignissimos. Molestiae animi officiis repudiandae
          deleniti. Aliquid sed corrupti ea amet fugiat repudiandae</strong
        >
      </p>
    </div>
    <div class="col-sm p-5 text-center">
      <img class="img-fluid img-responsive" src="myApp/img/p11.jpg" alt="" />
    </div>
  </div>
</div>
