<div class="container-fluid bg-dark p-5 text-center">
  <div class="container">
    <h1 class="text-warning display-3 my-5">
      <strong>Imagine a place...</strong>
    </h1>
    <p class="text-light display-6">
      <strong
        >...where you can find your career and your career can find you. A place
        that makes it easy to make a next big step in your life.</strong
      >
    </p>
    <button class="btn btn-lg btn-warning m-4">Find a job</button>
    <button class="btn btn-lg btn-success m-4">Post a job</button>
  </div>
</div>
